.fpls.fpls-wallgroup-demopartnerdemo-example_2 {
    background-color: grey;
    .fpls-wallgroup-wrapper {

        .fpls-wall-container-title {
            width: 100%;
            height: 150px;
            border: 1px dashed black;
            background-color: burlywood;
        }

    }

}