//namespace
.fpls-wall-freegrid2-default .fpls-wall-content {

    .fpls-box {
        transition:opacity 1s;
        -ms-transition:opacity 1s;
        -moz-transition:opacity 1s;
        -webkit-transition:opacity 1s;
    }

    .fpls-box > a {
        display: block;
        width: 100%;
        height: 100%;
    }

    .fpls-box-inner {
        overflow:hidden;
        height: 100%;
    }

    .fpls-box-iframe-html {
        height: 100%;
    }

    .fpls-box .fpls-popup-video {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background: transparent;
	}

    .fpls-box-image,
    .fpls-box-iframe {
        display:block;
        width:100%;
        height:100%;
        overflow:hidden;

        img,
        video,
        iframe {
            width: 100%;
            height: 100%;
        }

        img,
        video {
            object-fit: cover;
            object-position: 50%;
        }

        .fpls-box-crop-container {
            position: relative;
            height: 100%;
            width: 100%;
            display: block;
            box-sizing: content-box;
        }

        .fpls-box-crop-image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: auto;
            max-width: 1000% !important;
        }
    }

    .fpls-box-flex-top > a,
    .fpls-box-flex-top .fpls-box-image > span {
        display: block;
        width: 100%;
        height: 100%;
    }

    .fpls-box-flex-top .fpls-box-inner {
        position: absolute;
    }

    .fpls-box {
        &.fpls-object-fit--contain {
            .fpls-box-image img, .fpls-box-image video {
                object-fit: contain;
            }
        }

        &.fpls-object-fit--cover {
            .fpls-box-image img, .fpls-box-image video {
                object-fit: cover;
            }
        }

        &.fpls-object-fit--fill {
            .fpls-box-image img, .fpls-box-image video {
               object-fit: fill;
            }
        }
    }
}
