//theme namespace
.fpls-wall-freegrid2-default {
    overflow: hidden;
    max-width: 100vw;
    
    .fpls-wall-grid {
        position: relative;
        z-index: 1;

        .fpls-grid {
            position: relative;
            z-index: 1;
            margin: 0 auto;
        }

        .fpls-element,
        .fpls-group {
        	position: absolute;
        }

        .fpls-element .fpls-content {
        	position: absolute;
	        top: 0;
	        left: 0;
	        transform-origin: 0 0;
	        width: 100%;
	        height: 100%;
        }

        .fpls-element .fpls-content.fpls-box-block {
            position: relative;
            height: auto;
            display: flex;
            align-items: stretch;
            .fpls-box-inner {
                height: auto;
                min-height: 100%;
            }
        }

        //LST-2270
        .fpls-group {
            &.fpls-group-link {
                cursor: pointer;

                .fpls-grouped {
                    pointer-events: none;
                }
            }
        }
    }

    .fpls-element {
        transition: opacity 200ms;
        //reset margin and line-height for wall headings and paragraphs
        h1, h2, h3, h4, h5, h6, p {
            margin: 0;
            line-height: 1.2em;
        }        
    }

    .animation-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .fpls-carousel {
        .fpls-carousel-inner {
            position: absolute;
            left: 0;
            top: 0;
            transition: left 600ms, transform 600ms;
        }
        &.fpls-dragging .fpls-carousel-inner {
            transition: left 600ms, transform 0ms;
        }
        .animation-wrapper,
        .fpls-box-carousel {
            width: 100%;
            height: 100%;
            position: absolute;
            z-index: 5;
            top: 0;
            left: 0;
        }
        .fpls-box-carousel {
            overflow: hidden;
        }
        .fpls-carousel-item {
            opacity: 1;
            transition: opacity 600ms;
            z-index: 1;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
            &.fpls-semi-visible {
                opacity: .3;
            }
        }
        .fpls-current {

        }

        &.fpls-fade-carousel {
            --fadeTransition: 0s;

            .fpls-carousel-inner {
                width: 100%;
                height: 100%;
                transform: none !important;
                transition: none !important;

                .fpls-carousel-item {
                    opacity: 0 !important;
                    z-index: 10 !important;
                    left: 0 !important;
                    transition: opacity var(--fadeTransition);
                }

                .fpls-current {
                    opacity: 1 !important;
                    z-index: 11 !important;
                }
            }
        }
    }

    .fpls-compare {
        --compare-slider-color: #fff;
        --compare-slider-opacity: 100%;

        .fpls-box-compare,
        .fpls-compare__inner,
        .fpls-slide-to-compare__wrapper {
            width: 100%;
            height: 100%;
        }

        .fpls-compare__inner {
            position: relative;
            overflow: hidden;
        }

        .fpls-compare__item {
            &.fpls-compared-slide {}

            &.fpls-slide-to-compare {
                z-index: 75 !important;
                overflow: hidden;
            }

        }

        .fpls-slide-to-compare__wrapper {
            position: absolute;
            top: 0;
            left: 0;

            .fpls-slide-to-compare__slider {
                position: absolute;
                z-index: 105;
                cursor: ew-resize;
                top: 0;
                background-color: var(--compare-slider-color);
                opacity: var(--compare-slider-opacity);
                width: 4px;
                height: 100%;
                transition: opacity .3s;
                transform: translateX(-50%);

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-color: var(--compare-slider-color);
                    background-image: url(../images/global/compare-arrows-black.svg);
                    border-radius: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 45%;
                    transition: background-size .3s;
                }

                &:hover:before {
                    background-size: 50%;
                }
            }
        }

        &.fpls-custom-opacity {
            .fpls-slide-to-compare__slider {
                &:hover {
                    opacity: 1;
                }
            }
        }

        &.fpls-reverse-arrows-color {
            .fpls-slide-to-compare__slider {
                &:before {
                    background-image: url(../images/global/compare-arrows-white.svg);
                }
            }
        }
    }

    .fpls-wall-content .ls-button {
        display: inline-block;
        margin: 0;
        background: #000;
        color: #fff;
        padding: 0 30px;
        line-height: 30px;
        text-decoration: none !important;
        transition: all 150ms;
        cursor: pointer;
        position: relative;
        a, a:hover {
            color: inherit;
            text-decoration: inherit;
        }
        a:after {
            display: table;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    .fpls-element-next,
    .fpls-element-prev {
        width: 50px;
        height: 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: block;
        z-index: 10;
        user-select: none;
        cursor:pointer;
        background-color: rgba(255,255,255,0.6);
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 66%;
        text-indent: -99999em;
        white-space: nowrap;
        overflow: hidden;
    }

    .fpls-element-next {
        right: 0;
        background-image: url(../images/popup-right.svg);
    }

    .fpls-element-prev {
        left: 0;
        background-image :url(../images/popup-left.svg);            
    }

    .fpls-box-image img,
    .fpls-box-image video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50%;
    }

    .fpls-focal--nw {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 0 0;
        }
    }

    .fpls-focal--n {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 50% 0;
        }
    }

    .fpls-focal--ne {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 100% 0;
        }
    }

    .fpls-focal--w {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 0 50%;
        }
    }

    .fpls-focal--e {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 100% 50%;
        }
    }

    .fpls-focal--sw {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 0 100%;
        }
    }

    .fpls-focal--s {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 50% 100%;
        }
    }

    .fpls-focal--se {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 100% 100%;
        }
    }

    .fpls-focal--c {
        .fpls-box-image img, .fpls-box-image video {
            object-position: 50% 50%;
        }
    }

    .fpls-background-focal--nw {
        background-position: 0 0;
    }

    .fpls-background-focal--n {
        background-position: 50% 0;
    }

    .fpls-background-focal--ne {
        background-position: 100% 0;
    }

    .fpls-background-focal--w {
        background-position: 0 50%;
    }

    .fpls-background-focal--e {
        background-position: 100% 50%;
    }

    .fpls-background-focal--sw {
        background-position: 0 100%;
    }

    .fpls-background-focal--s {
        background-position: 50% 100%;
    }

    .fpls-background-focal--se {
        background-position: 100% 100%;
    }

    .fpls-background-focal--c {
        background-position: 50% 50%;
    }

    .fpls-dots-container {
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;
        --dotsColor: #000; //LST-3864

        .fpls-dot {
            width: 30px;
            height: 40px;
            display: inline-block;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: var(--dotsColor);
                transition: opacity 300ms;
                opacity: 0.2;
            }
            &.fpls-current:after {
                opacity: 1;
            }
        }
    }

    [data-sticky-bottom][data-stuck] {
        top: auto !important;
    }
}
