//theme namespace
.fpls-wall-customgrid-default {
    .fpls-carousel {
        position: relative;
        .fpls-carousel-item {
            opacity: 0;
            transition: opacity 600ms;
            z-index: 1;
            position: absolute;
            height: 100%;
            top: 0;
            left: 0;
            width: 100%;
        }
        .fpls-current {
            opacity: 1;
            z-index: 2;
            position: relative;
            left: 0;
            top: 0;
        }
        .fpls-element-next,
        .fpls-element-prev {
            width: 50px;
            height: 50px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            display: block;
            z-index: 10;
            -webkit-user-select: none; /* webkit (safari, chrome) browsers */
            -moz-user-select: none; /* mozilla browsers */
            -ms-user-select: none; /* IE10+ */
            cursor:pointer;
            background-color: rgba(255,255,255,0.6);
            background-repeat: no-repeat;
            background-position: 50% 50%;
            background-size: 66%;
            text-indent: -99999em;
            white-space: nowrap;
            overflow: hidden;
        }

        .fpls-element-next {
            right: 0;
            background-image: url(../images/popup-right.svg);
        }

        .fpls-element-prev {
            left: 0;
            background-image :url(../images/popup-left.svg);
        }
    }

    .fpls-dots-container {
        position: absolute;
        bottom: -45px;
        left: 50%;
        transform: translateX(-50%);
        white-space: nowrap;

        .fpls-dot {
            width: 30px;
            height: 40px;
            display: inline-block;
            position: relative;
            &:after {
                content: "";
                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: 10px;
                height: 10px;
                border-radius: 100%;
                background: black;
                transition: opacity 300ms;
                opacity: 0.2;
            }
            &.fpls-current:after {
                opacity: 1;
            }
        }
    }

    .fpls-compare {
        --compare-slider-color: #fff;
        --compare-slider-opacity: 100%;

        .fpls-compare__inner {
            position: relative;
            left: 0;
            top: 0;
            overflow: hidden;
        }

        .fpls-compare__inner,
        .fpls-slide-to-compare__wrapper {
            width: 100%;
            height: 100%;
        }

        .fpls-compare__item {
            opacity: 1;

            &.fpls-compared-slide {
                position: relative;
            }

            &.fpls-slide-to-compare {
                z-index: 75 !important;
                overflow: hidden;
            }

        }

        .fpls-slide-to-compare__wrapper {
            position: absolute;
            top: 0;
            left: 0;

            .fpls-slide-to-compare__slider {
                position: absolute;
                z-index: 105;
                cursor: ew-resize;
                top: 0;
                background-color: var(--compare-slider-color);
                opacity: var(--compare-slider-opacity);
                width: 4px;
                height: 100%;
                transition: opacity .3s;
                transform: translateX(-50%);

                &:before {
                    content: "";
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    display: block;
                    width: 40px;
                    height: 40px;
                    background-color: var(--compare-slider-color);
                    background-image: url(../images/global/compare-arrows-black.svg);
                    border-radius: 50%;
                    transform: translateX(-50%) translateY(-50%);
                    background-repeat: no-repeat;
                    background-position: 50% 50%;
                    background-size: 45%;
                    transition: background-size .3s;
                }

                &:hover:before {
                    background-size: 50%;
                }
            }
        }

        &.fpls-custom-opacity {
            .fpls-slide-to-compare__slider {
                &:hover {
                    opacity: 1;
                }
            }
        }

        &.fpls-reverse-arrows-color {
            .fpls-slide-to-compare__slider {
                &:before {
                    background-image: url(../images/global/compare-arrows-white.svg);
                }
            }
        }
    }
}
