<div class="fpls-slide-controls">

  <ul class="fpls-wallgroup-tabs" role="menu">
    {{#each tabs}}
    <li class="fpls-wallgroup-tab" role="menuitem"><a tabindex="-1" aria-label="View {{ this.title }}" data-target="{{ this.id }}" href="javascript:void(0)">{{ this.title }}</a></li>
    {{/each}}
  </ul>
  
  <div class="fpls-dots">
    {{#each tabs}}
        <a class="fpls-dot" aria-label="View slide {{ this.title }}" data-target="{{ this.id }}" href="javascript:void(0)"></a>
      {{/each}}
  </div>

  <a class="fpls-prev" aria-label="Previous slide"></a>
  <a class="fpls-next" aria-label="Next slide"></a>
</div>