/* wallgroup-default */
.fpls .fpls-wallgroup-default,
.fpls.fpls-wallgroup-default {

    .fpls-wallgroup-tabs {

        text-align:center;
        margin-bottom:1em;

        &:after {
            content: " ";
            display:table;
            clear:both;
        }

        .fpls-wallgroup-tab {
            display:inline;

            a {
                display:inline-block;
                padding:10px 3px;
                margin:0 10px;
                cursor:pointer;
                border-bottom:2px solid transparent;

                &.current {
                    border-color: #000;
                }
            }
        }
    }
}
