@font-reg: "Sofia Pro Extra Light";
@font-bold: "Sofia Pro Regular";

.fpls, .fpls-popup {
    * {
        font-family:@font-reg !important;
    }

    p {
    	line-height: 1.6;
    	font-size: 18px;
	}

    .fpls-popup-author,
    .fpls-box-overlay-button,
    .fpls-button {
        font-family:@font-bold !important;
    }

	.fpls-wall-title, h1 {
    	font-size: 46px;
	}

	.fpls-wallgroup-tab a {
    	border-bottom-width: 1px !important;
	}

    .fpls-popup-desc {
        font-size: 14px;
    }
}