<div class="fpls-strip-content">
    <div class="fpls-wall-title" role="heading"></div>
    <div class="fpls-strip-container">
        <button class="fpls-strip-prev" aria-label="Previous user contents"></button>
        <div class="fpls-strip-stripwrapper">
            <div class="fpls-strip-strip"></div>
        </div>
        <button class="fpls-strip-next" aria-label="Next user contents"></button>
    </div>
</div>
