@import "../../common/dark.less";

#WALLID.fpls {
    .fpls-wallgroup-tabs .fpls-wallgroup-tab a {
        color:@text_color_base;
        &.current {
            color:#fff;
            border-color:#fff;
        }
    }
}

/* dark background for preview */
#fpls-preview { background:#000 }
