.fpls-wallgroup-global-slide {

  .fpls-slide-container {
    position: relative;
    transition: min-height 300ms;
    margin-bottom: 25px;
    overflow: hidden;
  }

  .fpls-wallgroup-tabs {
    display: none !important;
  }

  .fpls-dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    text-align: center;

    .fpls-dot {
      width: 25px;
      height: 25px;
      position: relative;
      border: 0 !important;
      display: inline-block;
      &:after {
          content: "";
          display: block;
          width: 4px;
          height: 4px;
          position: absolute;
          top: 50%;
          left: 50%;
          margin-top: -2px;
          margin-left: -2px;
          border-radius: 20px;
          //border: 2px solid #000;
          transition: all 300ms;
          opacity: 0.5;
          background: #000;
      }
    }

    .fpls-dot:hover, .fpls-dot.current {
        &:after {
          opacity: 0.9;
          width: 12px;
          height: 12px;
          margin-top: -6px;
          margin-left: -6px;
      }
    }
  }

  .fpls-prev,
  .fpls-next {
      display:block;
      position:absolute;
      top:50%;
      margin-top:-25px;
      left: 0;
      height:50px;
      width:50px;
      background:url(../images/popup-left.svg) no-repeat 50% 50%;
      cursor:pointer;
      font-size:12px;
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -ms-user-select: none; /* IE10+ */
      cursor:pointer;
      z-index: 10;
  }

  .fpls-next {
      display:block;
      left:auto;
      right: 0;
      background:url(../images/popup-right.svg) no-repeat 50% 50%;
  }

  .fpls-wall-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}