#CREDITS, #POPUP_CREDITS {
    text-align: right;
    clear:both;
    height: 20px;
    display: block;
    background:url(#ASSETS/images/credits-black.svg) no-repeat right center !important;
    background-size: 55px 9px !important;
    text-indent:-9999em;
    text-align: left;
    overflow:hidden;
    margin: 0 10px !important;   
    min-width: 60px;
}

#CREDITS {
}

.fpls-popup #POPUP_CREDITS {
    @media screen and (min-width: 769px) {
	   margin: 0 -10px -20px !important;
    }
}