@import "../../common/dark.less";
@import "../../common/credits.less";

#WALLID {
    color:@text_color_base;
    a {
        color:@text_color_base;
        &:hover {
            color:#fff;
        }
    }
    .fpls-button {
        color:@text_color_base;
        border-color:#fff;
        &:hover {
            color:#fff;
        }
    }

    .fpls-box-overlay-button {
        color: #fff;
    }

    .fpls-wall-title {
        color:#fff;
    }

    .fpls-box-block {
        color:@text_color_base;

        h1, h2, h3, h4, h5, h6 {
            color:#fff;
        }
    }

    .fpls-box-overlay-content,
    a.fpls-box-overlay-content {
        background:rgba(20,20,20,0.8);
    }

    .fpls-popup-background {
        background:@color_darker_background;
    }

    .fpls-popup-wrapper {
        color:@text_color_base;
    }

    .fpls-popup-content {
        background:@color_dark_background;
    }

    .fpls-popup-author {
        color:#fff;
    }

    .fpls-popup-asset-title {
        color:#fff;
    }

    .fpls-popup-asset-price {
        color:@text_color_base;
    }

    .fpls-popup-meta {
        color:@text_color_light;
        strong {
            color:@text_color_base;
        }
    }

    .fpls-popup-close {
        background-image:url(#ASSETS/images/popup-close-inv.svg);
    }

    .fpls-popup-prev {
        background-image:url(#ASSETS/images/popup-left-inv.svg);
    }

    .fpls-popup-next {
        background-image:url(#ASSETS/images/popup-right-inv.svg);
    }

    .fpls-popup-prev,
    .fpls-popup-assets-prev {
        background-image:url(#ASSETS/images/popup-left-inv.svg);
    }

    .fpls-popup-next,
    .fpls-popup-assets-next {
        background-image:url(#ASSETS/images/popup-right-inv.svg);
    }

    @media screen and (max-width: 767px) {
        .fpls-popup-close {
            background-color: rgba(0,0,0,0.75);
            background-image:url(#ASSETS/images/popup-close-inv.svg);
        }

        .fpls-popup-prev {
            background-color: rgba(0,0,0,0.75);
            background-image:url(#ASSETS/images/popup-left-inv.svg);
        }

        .fpls-popup-next {
            background-color: rgba(0,0,0,0.75);
            background-image:url(#ASSETS/images/popup-right-inv.svg);
        }
    }

    .fpls-popup-share {
        a.twitter_share {
            background-image:url(#ASSETS/images/twitter-inv.svg);
        }

        a.pinterest_share {
            background-image:url(#ASSETS/images/pinterest-inv.svg);
        }

        a.facebook_share {
            background-image:url(#ASSETS/images/facebook-inv.svg);
        }

    }

    // Strip next / prev
    .fpls-strip-container {
        .fpls-strip-next, .fpls-strip-prev {
            background-color:#000 !important;
        }

        .fpls-strip-prev {
            left:0;
            background-image:url(#ASSETS/images/popup-left-inv.svg);
        }

        .fpls-strip-next {
            right:0;
            background-image:url(#ASSETS/images/popup-right-inv.svg);
        }
    }
}

/* dark background for preview */
#fpls-preview { background:#000 }
