<div class="fpls-wall-content fpls-wall-customgrid-demopartnerdemo-example">

    <div class="fpls-wall-title" role="heading"></div>
    <div class="fpls-wall-row">

        <!--ADMIN_START
            <h3>Content image:</h3>
            <p>Insert image here</p>
        ADMIN_END-->
        <div class="fpls-wall-content-box fpls-wall-content-box1 fpls-wall-content-box-image"
            data-layout_id="box1"
            data-layout_types="photo,video"
            data-layout_placeholder="Insert image here"
        >
            <div class="fpls-placeholder"
                data-placeholder_id="box1"
            ></div>
        </div>

        <!--ADMIN_START
            <h3>Content text:</h3>
            <p>Insert text here</p>
        ADMIN_END-->
        <div class="fpls-wall-content-box fpls-wall-content-box2 fpls-wall-content-box-text"
            data-layout_id="box2"
            data-layout_types="block"
            data-layout_placeholder="Insert text here"
        >
            <div class="fpls-placeholder"
                data-placeholder_id="box2"
            ></div>
        </div>


    </div>

</div>
