.fpls-wall-strip-default {

    &:before{
        content: "";
        display: table;
        clear: both;
    }

    .fpls-feed-container {
        position:relative;
    }
    .fpls-box {
        float:left;
        width:auto;
        height:100%;
        transition:opacity 300ms;
        -ms-transition:opacity 300ms;
        -webkit-transition:opacity 300ms;
    }
    .fpls-box-inner {
        width:auto;
        height:100%;
    }

    .fpls-box-image {
        height:100%;
    }

    .fpls-box-image img {
        height:100%;
        width:auto;
    }
}