//theme namespace
.fpls-wall-strip-default {

    position:relative;

    &:before{
        content: "";
        display: table;
        clear: both;
    }

    .fpls-strip-content {
        position:relative;
    }

    .fpls-strip-container {
        position:relative;
    }
    .fpls-strip-stripwrapper {
        position:relative;
        overflow:hidden;
        width:100%;
    }
    .fpls-strip-strip {
        transition:left 600ms, transform 600ms;

        &.fpls-dragging {
            transition:left 600ms, transform 0ms;
        }

        &.fpls-transition-off {
            transition: none;
        }
    }
    
    .fpls-strip-next, .fpls-strip-prev {
        position:absolute;
        top:50%;
        margin-top:-30px;
        width:60px;
        height:60px;
        opacity:0.9;
        cursor:pointer;
        background-repeat:no-repeat;
        background-position: 50% 50%;
        &, &:hover {
          background-color:#fff;
        }
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -ms-user-select: none; /* IE10+ */
        transition:opacity 300ms;
        -ms-transition:opacity 300ms;
        -moz-transition:opacity 300ms;
        -webkit-transition:opacity 300ms;
        @media screen and (max-width: 768px) {
            width: 40px;
            height: 40px;
            margin-top: -20px;
            background-size: 80%;
        }
    }

    .fpls-strip-prev {
        left:0;
        background-image:url(../images/popup-left.svg);
        z-index:10;
    }

    .fpls-strip-next {
        right:0;
        background-image:url(../images/popup-right.svg);
    }

    .fpls-disabled {
        opacity:0.1;
    }

}
