@import "../../common/credits.less";

@roboto: "Roboto", sans-serif;
@futurastd-medium: "futurastd-medium", sans-serif;

.fpls#WALLID,
.fpls #WALLID{

    .fpls-box {

        h1, h2, h3, h4, h5, h6 {
            font-family: @roboto;
            color: grey;
        }

        p, ul, ol, li, dl, dd, dt, span {
            font-family: @futurastd-medium;
            color: #333;
        }

    }

    // Customized popup title
    .fpls-popup-author {
        background-color: #000;
        color: #fff;
    }

    // Custom button
    .cta-custom {
        border: 4px solid red;
    }

}