{{!-- Removed share container and added "THIS" to the brand name --}}
<div class="fpls-popup">
    <div class="fpls-popup-background" {{#if popup_background}}style="background:{{popup_background}}"{{/if}}></div>
    <div class="fpls-popup-wrapper">
        <div class="fpls-popup-content {{ extra_class }}">
            {{#if username}}
            <div class="fpls-popup-author fpls-desktop-only">
                @THIS {{ username }}
            </div>
            {{/if}}

            <div class="fpls-popup-col-1">
                <div class="fpls-popup-image">
                    {{#if pins}}
                        <div class="fpls-popup-pins">
                            {{#each pins}}
                                <a data-pin="pin{{ this._id }}" class="fpls-popup-pin fpls-popup-pin--{{ this.type }}" style="left: {{ this.coordinates.x }}%; top: {{ this.coordinates.y }}%">{{ this.pinIndex }}</a>
                            {{/each}}
                        </div>
                    {{/if}}
                    {{#if mixed}}
                        <div class="fpls-popup-carousel">
                            <div class="fpls-popup-carousel-slider">
                            {{#each medias}}
                                <div class="fpls-popup-carousel-item">
                                    {{#if this.image_url}}
                                        <img class="fpls-popup-image-img" src="{{ this.image_url }}" alt="{{ this.accessibility_caption }}" />
                                    {{/if}}
                                    {{#if this.video_url }}
                                        <span class="fpls-popup-video-wrapper">
                                            <img class="fpls-popup-video-poster" src="{{ this.poster_url }}" alt="{{ this.accessibility_caption }}" />
                                            <video class="fpls-popup-video" alt="{{ this.accessibility_caption }}" playsinline>
                                                <source src="{{ this.video_url }}" type="video/mp4">
                                            </video>
                                            <button class="fpls-box-play" aria-label="Play/Stop the video"></button>
                                        </span>
                                    {{/if}}
                                </div>
                            {{/each}}
                            </div>
                            <div class="fpls-popup-carousel-nav">
                                <button class="fpls-popup-carousel-prev" aria-label="Previous post image"></button>
                                <button class="fpls-popup-carousel-next" aria-label="Next post image"></button>
                                <div class="fpls-popup-carousel-dots">

                                </div>
                            </div>
                        </div>
                    {{/if}}
                    {{#if image_url}}
                        <img class="fpls-popup-image-img" src="{{ image_url }}" alt="{{ accessibility_caption }}" />
                    {{/if}}
                    {{#if poster_url }}
                        <span class="fpls-popup-video-wrapper">
                            <img class="fpls-popup-video-poster" src="{{ poster_url }}" alt="{{ accessibility_caption }}" />
                            <video class="fpls-popup-video" poster="{{ poster_url }}" alt="{{ accessibility_caption }}" autoplay playsinline>
                                <source src="{{ video_url }}" type="video/mp4">
                            </video>
                            <button class="fpls-box-play" aria-label="Play/Stop the video"></button>
                        </span>
                    {{/if}}
                    {{#if text }}
                        <div class="fpls-popup-text">
                            <span class="fpls-inner">
                                <span class="fpls-ldquo">&ldquo;</span>
                                {{ text }}
                                <span class="fpls-rdquo">&bdquo;</span>
                            </span>
                        </div>
                    {{/if}}
                    <div class="fpls-popup-image-nav">
                        <button class="fpls-popup-prev" aria-label="Previous user content"></button>
                        <button class="fpls-popup-next" aria-label="Next user content"></button>
                    </div>
                    <div class="fpls-popup-like" style="display:none" tabindex="0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24.628" height="23.411" viewBox="0 0 24.628 23.411">
                            <path d="M16.955 1.705c-1.994 0-3.796 1.045-4.634 2.672-.839-1.627-2.663-2.672-4.657-2.672-3.116 0-7.294 2.512-5.392 9.365C4.446 17.768 12.32 21.708 12.32 21.706c0 .002 7.862-3.936 10.037-10.635 1.902-6.854-2.287-9.366-5.402-9.366z"/>
                        </svg>
                    </div>
                </div>
                {{!-- <div class="fpls-popup-meta fpls-desktop-only">
                    Posted <strong>{{ date }}</strong> via <strong>{{ source }}</strong>
                </div>
                <div class="fpls-popup-share fpls-desktop-only">
                    <p>Share:</p>
                    <a class="twitter_share" href="{{ twitter_share }}" target="_blank" aria-label="Share on Twitter" ></a>
                    <a class="facebook_share" href="{{ facebook_share }}" target="_blank" aria-label="Share on Facebook" ></a>
                    {{#if image_url}}
                        <a class="pinterest_share" href="{{ pinterest_share }}" target="_blank" aria-label="Share on Pinterest"></a>
                    {{/if}}
                </div> --}}
            </div>

            <div class="fpls-popup-col-2">
                {{#if title}}
                    <div class="fpls-popup-title fpls-desktop-only">{{ title }}</div>
                {{/if}}
                <div aria-live="polite" class="fpls-popup-desc fpls-desktop-only">
                    {{{ description }}}
                </div>
                {{#if link}}
                    <div class="fpls-popup-cta">
                        {{#if image_cta}}
                            <a href="{{ link }}" class="fpls-popup-image-cta" target="_blank"><img src="{{image_cta}}" alt="{{ link_cta }}" /></a><br />
                        {{/if}}
                        <a class="fpls-button" href="{{ link }}" target="_blank">{{ link_cta }}</a>
                    </div>
                {{/if}}
                {{#if actions}}
                    {{#each actions}}{{#if this.not_asset }}
                        <div class="fpls-popup-cta {{#if this.pinned }}fpls-popup-pinned{{/if}} fpls-popup-cta-{{ this.type }}" data-pin="pin{{ this._id }}">
                            {{#if this.pinIndex}}
                                <span class="fpls-popup-pin">{{ this.pinIndex }}</span>
                            {{/if}}
                            {{#if this.is_video }}
                                {{#if this.image}}
                                    <button class="fpls-popup-image-cta" data-iframe="{{ iframe }}"><img src="{{ this.image }}" alt="{{ this.text }}" /><span class="fpls-popup-image-cta-play"></span></button>
                                {{/if}}
                                {{#if this.text}}
                                    <button class="fpls-button" data-iframe="{{ iframe }}">{{ this.text }}</button>
                                {{/if}}
                            {{/if}}
                            {{#if this.is_link }}
                                {{#if this.image}}
                                    <a href="{{ this.link }}" class="fpls-popup-image-cta" target="_blank"><img src="{{this.image}}" alt="{{ this.text }}" /></a>
                                {{/if}}
                                <a class="fpls-button" href="{{ this.link }}" target="_blank">{{ this.text }}</a>
                            {{/if}}
                        </div>
                    {{/if}}{{/each}}
                {{/if}}
                {{#if assets}}
                <div class="fpls-popup-assets">
                    {{#each assets}}
                        <div class="fpls-popup-asset {{#if this.pinned }}fpls-popup-pinned{{/if}}" data-pin="pin{{ this.pin_id }}">
                            {{#if this.pinIndex}}
                                <span class="fpls-popup-pin">{{ this.pinIndex }}</span>
                            {{/if}}
                            <a href="{{ this.url }}" class="fpls-popup-asset-link" data-sku="{{ this.sku }}" data-name="{{ this.name }}" data-price="{{ this.price }}" data-position="{{ this.i }}">
                                <span class="fpls-popup-asset-img"><img src="{{ this.image_url }}" alt="{{ this.name }}" /></span>
                                <strong class="fpls-popup-asset-title">{{ this.name }}</strong>
                                {{#if this.showprice}}
                                <span class="fpls-popup-asset-price{{#if this.sale_price}} fpls-popup-asset-sale-price{{/if}}">
                                    {{#if this.sale_price}}
                                        <del>{{ this.price }}</del>
                                        {{ this.sale_price }}
                                    {{else}}
                                        {{ this.price }}
                                    {{/if}}
                                </span>
                                {{/if}}

                                {{#if this.stock}}
                                <span class="fpls-popup-asset-cta">
                                    <span class="fpls-button"> {{ ../productLabel }} </span>
                                </span>
                                {{else}}
                                <span class="fpls-popup-asset-cta" style="display: none;">
                                    <span class="fpls-button"> {{ ../productLabel }} </span>
                                </span>
                                {{/if}}
                            </a>
                        </div>
                    {{/each}}
                    <div class="fpls-popup-assets-nav">
                        <button aria-label="Previous showcased product" class="fpls-popup-assets-prev"></button>
                        <button aria-label="Next showcased product" class="fpls-popup-assets-next"></button>
                    </div>
                </div>
                {{/if}}
            </div>

            <div class="fpls-popup-col-3 fpls-mobile-only">
                {{#if username }}
                <div class="fpls-popup-author">
                    @{{ username }}
                </div>
                {{/if}}
                {{#if title}}
                    <div class="fpls-popup-title">{{ title }}</div>
                {{/if}}
                <div aria-live="polite" class="fpls-popup-desc">
                    {{{ description }}}
                </div>
                {{!-- <div class="fpls-popup-meta">
                    Posted <strong>{{ date }}</strong> via <strong>{{ source }}</strong>
                </div>
                <div class="fpls-popup-share">
                    <p>Share:</p>
                    <a class="twitter_share" href="{{ twitter_share }}" target="_blank" aria-label="Share on Twitter" ></a>
                    <a class="facebook_share" href="{{ facebook_share }}" target="_blank" aria-label="Share on Facebook" ></a>
                    {{#if image_url}}
                        <a class="pinterest_share" href="{{ pinterest_share }}" target="_blank" aria-label="Share on Pinterest"></a>
                    {{/if}}
                </div> --}}
            </div>

            <button class="fpls-popup-close" aria-label="Close popup"></button>
            <button class="fpls-popup-prev" aria-label="Previous user content"></button>
            <button class="fpls-popup-next" aria-label="Next user content"></button>
        </div>
    </div>
</div>
