<ul class="fpls-wallgroup-tabs" role="menu">
    {{#each tabs}}
    <li class="fpls-wallgroup-tab" role="menuitem"><a aria-label="View {{ this.title }}" data-target="{{ this.id }}" href="javascript:void(0)">{{ this.title }}</a></li>
    {{/each}}
</ul>
