<div class="fpls-box fpls-box-video" data-timestamp="{{ timestamp }}" data-alt="{{ accessibility_caption }}" {{#if viewOverlay}}role="button" tabindex="0"{{/if}}>
    {{#if link}}<a href="{{ link }}" {{#if blank}} target="_blank"{{/if}}>{{/if}}
        <div class="fpls-box-inner">
            {{#if html5video}}
                <div class="fpls-box-image">
                    <video class="fpls-popup-video" {{#if poster_url}}poster="{{ poster_url }}"{{/if}} preload="auto" title="{{ accessibility_caption }}" {{#if autoplay}}autoplay{{/if}} {{#if muted}}muted{{/if}} playsinline>
                        {{#if video_optimized_url }}
                            <source src="{{ video_optimized_url }}" type="video/mp4">
                        {{else}}
                            <source src="{{ video_url }}" type="video/mp4">
                        {{/if}}
                    </video>
                    {{#if show_play}}
                        <button class="fpls-box-play" aria-label="Play/Stop the video"></button>
                    {{/if}}
                    {{#if show_unmuted}}
                        <button class="fpls-box-unmuted" aria-label="Mute/Unmute the video"></button>
                    {{/if}}
                </div>
            {{else}}
                <div class="fpls-box-image">
                    <span>
                        {{#if poster_responsive_url }}
                        <img class="fpls-img" data-src="{{ poster_url }}" srcset="{{ poster_responsive_url.srcset }}" sizes="{{ poster_responsive_url.sizes }}" alt="{{ accessibility_caption }}" />
                    {{else}}
                        <img class="fpls-img" src="{{ poster_url }}" alt="{{ accessibility_caption }}" />
                    {{/if}}
                    </span>
                    {{#if show_play}}
                        <button class="fpls-box-play" aria-label="Play/Stop the video"></button>
                    {{/if}}
                </div>
            {{/if}}

            {{#if viewOverlay}}
                <div class="fpls-box-overlay" role="dialog" aria-modal="true">
                    <div class="fpls-box-overlay-content">
                        <div class="fpls-box-overlay-content-inner">
                            <span class="fpls-box-overlay-button">
                                {{!-- <span class="fpls-button fpls-button-xs"></span> --}}
                                {{{ boxViewLabel }}}
                            </span>
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>
    {{#if link}}</a>{{/if}}
    
    {{#if caption}}
    <div class="fpls-box-caption">
        {{{ caption }}}
    </div>
    {{/if}}
</div>
