<div class="fpls-box fpls-box-video">
    <div class="fpls-box-inner">
        <div class="fpls-box-iframe">
            {{#if inline_iframe }}
                <span class="fpls-box-iframe-inline-sizer" style="padding-top: {{ proportions }}%;"></span>
            {{else}}
                <span>
                    {{#if poster_responsive_url }}
                        <img class="fpls-img" data-src="{{ poster_url }}" srcset="{{ poster_responsive_url.srcset }}" sizes="{{ poster_responsive_url.sizes }}" alt="{{ accessibility_caption }}" />
                    {{else}}
                        <img class="fpls-img" src="{{ poster_url }}" alt="{{ accessibility_caption }}" />
                    {{/if}}
                    
                <span>
                <button class="fpls-box-play" aria-label="Play the video"></button>
            {{/if}}  
            <button class="fpls-box-play-a11y" aria-label="Play the accessible video"></button>
            <div class="fpls-box-iframe-html">{{{ iframe }}}</div>
            <div class="fpls-playing-video-buttons">
                {{#if is_accessible }}
                <button class="fpls-box-play-a11y" aria-label="Play the accessible video"></button>
                {{/if}}
                <button class="fpls-box-close" aria-label="Close the video"></button>
            </div>
        </div>
    </div>
</div>