<div class="fpls-box fpls-box-text" data-timestamp="{{ timestamp }}" data-alt="{{ accessibility_caption }}">
    {{#if link}}<a href="{{ link }}" {{#if blank}} target="_blank"{{/if}}>{{/if}}
    <div class="fpls-box-inner">
        <div class="fpls-box-quote">
            <blockquote class="fpls-box-quote-inner">{{ quote }}</blockquote>
            <cite>@{{ username }}</cite>
        </div>
    </div>
    {{#if link}}</a>{{/if}}
</div>
