<div class="fpls-box fpls-box-block">
    {{#if link}}
        <a class="fpls-box-inner" href="{{ link }}" {{#if blank}} target="_blank"{{/if}}>
            <div class="fpls-box-text" {{#if lang}}lang="{{ lang }}" xml:lang="{{ lang }}"{{/if}}>{{{ text }}}</div>
        </a>
    {{else}}
        <div class="fpls-box-inner">
            <div class="fpls-box-text" {{#if lang}}lang="{{ lang }}" xml:lang="{{ lang }}"{{/if}}>{{{ text }}}</div>
        </div>
    {{/if}}
</div>
