<div class="fpls-box fpls-box-asset">
    <div class="fpls-box-flex fpls-box-inner">
        {{#if show_image }}
        <div class="fpls-box-flex-top">
            <a {{#if stock}}href="{{url}}"{{/if}} data-sku="{{ sku }}" data-name="{{ name }}" data-price="{{ price }}" data-url="{{ url }}"
                {{#if custom_labels }}
                    {{#each custom_labels}}
                        {{#if this }} data-custom-label-{{@index}}="{{ this }}"{{/if}}
                    {{/each}}
                {{/if}}
            >
                <div class="fpls-box-image">
                    {{#if custom_labels_array }}
                        <div class="fpls-box-asset-labels">
                            {{#each custom_labels_array}}
                                <em class="fpls-custom-label">{{ this }}</em>
                            {{/each}}
                        </div>
                    {{/if}}
                    <span>
                        {{#if image_responsive_url }}
                            <img class="fpls-img" data-src="{{ image_url }}" srcset="{{ image_responsive_url.srcset }}" sizes="{{ image_responsive_url.sizes }}" alt="{{ name }}" />
                        {{else}}
                            <img class="fpls-img" alt="{{ name }}" src="{{ image_url }}" />
                        {{/if}}
                    </span>
                </div>
                {{#if showOverlay}}
                    <div class="fpls-box-overlay">
                        <div class="fpls-box-overlay-content">
                            <div class="fpls-box-overlay-content-inner">
                                <span class="fpls-box-overlay-desc">
                                    {{#if show_title }}
                                        <strong>{{ name }}</strong><br />
                                    {{/if}}
                                    {{#if show_price}}
                                        {{#if showprice}}
                                            <span class="fpls-price{{#if sale_price}} fpls-sale-price{{/if}}">
                                            {{#if sale_price}}
                                                <del>{{ price }}</del>
                                                {{ sale_price }}
                                            {{else}}
                                                {{ price }}
                                            {{/if}}
                                            </span>
                                        {{/if}}
                                    {{/if}}
                                </span>
                                {{#if show_cta }}
                                    <span class="fpls-box-overlay-button">
                                        {{!-- <span class="fpls-button fpls-button-xs"></span> --}}
                                        {{ productLabel }}
                                    </span>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                {{/if}}
            </a>
            
            {{#if caption}}
            <div class="fpls-box-caption">
                {{{ caption }}}
            </div>
            {{/if}}
        </div>
        {{/if}}
        {{#if place_outside }}
            <div class="fpls-box-flex-bottom">
                {{#if show_flex_bottom_url}}<a href="{{url}}" data-sku="{{ sku }}" data-name="{{ name }}" data-price="{{ price }}">{{/if}}
                    {{#if show_title }}
                        <h5>{{ name }}</h5>
                    {{/if}}
                    {{#if show_price }}
                        <p class="fpls-asset-price{{#if sale_price}} fpls-asset-sale-price{{/if}}">
                            {{#if showprice}}
                                {{#if sale_price}}
                                    <del>{{ price }}</del><br />
                                    {{ sale_price }}
                                {{else}}
                                    {{ price }}
                                {{/if}}
                            {{else}}
                                &mdash;
                            {{/if}}
                        </p>
                    {{/if}}
                {{#if show_flex_bottom_url}}</a>{{/if}}
                {{#if show_cta }}
                    {{#if stock}}<a title="{{ name }}, {{ productLabel }}" href="{{url}}" data-sku="{{ sku }}" data-name="{{ name }}" data-price="{{ price }}" class="ls-button {{#if outofstock}}ls-button-oos{{/if}}">{{ productLabel }}</a>{{/if}} 
                {{/if}}
            </div>
        {{/if}}
    </div>
</div>
