<div class="fpls-box fpls-box-icon">
    {{#if link}}<a href="{{ link }}" {{#if blank}} target="_blank"{{/if}}>{{/if}}
        <div class="fpls-box-inner">
            <div class="fpls-box-svg">
                <span>
                    {{#if svg }}
                        {{{ svg }}}
                    {{/if}}
                </span>
            </div>
        </div>
    {{#if link}}</a>{{/if}}
</div>
