<div class="fpls-box fpls-box-photo" data-timestamp="{{ timestamp }}" data-alt="{{ accessibility_caption }}" {{#if viewOverlay}}role="button" tabindex="0"{{/if}} muted {{#if boxViewAriaLabel}} aria-label="{{boxViewAriaLabel}}" {{/if}}>
    {{#if link}}<a href="{{ link }}" {{#if blank}} target="_blank"{{/if}}>{{/if}}
        <div class="fpls-box-inner">
            <div class="fpls-box-image">
                <span>
                    {{#if image_responsive_url }}
                        <img class="fpls-img" {{#if role_presentation}}role="presentation"{{/if}} data-src="{{ image_url }}" srcset="{{ image_responsive_url.srcset }}" sizes="{{ image_responsive_url.sizes }}" alt="{{ accessibility_caption }}" />
                    {{else}}
                        <img class="fpls-img" {{#if role_presentation}}role="presentation"{{/if}} src="{{ image_url }}" alt="{{ accessibility_caption }}" />
                    {{/if}}
                </span>
            </div>
            {{#if viewOverlay}}
                <div class="fpls-box-overlay" role="dialog" aria-modal="true">
                    <div class="fpls-box-overlay-content">
                        <div class="fpls-box-overlay-content-inner">
                            <span class="fpls-box-overlay-button">
                                {{{ boxViewLabel }}}
                            </span>
                        </div>
                    </div>
                </div>
            {{/if}}

            {{#if pins}}
            <div class="fpls-box-pins__wrapper">
                <div class="fpls-box-pins">
                    {{#each pins}}
                        {{#if ../link}}
                            <span data-pin="pin{{ this._id }}" data-pin-text="{{ this.text }}" class="fpls-box-pin fpls-box-pin--{{ this.type }}" style="left: {{ this.coordinates.x }}%; top: {{ this.coordinates.y }}%">
                                <span>{{ this.pinIndex }}</span>
                            </span>
                        {{else}}
                            <a data-pin="pin{{ this._id }}" {{#if ../popup_disabled}} {{#if this.link }} href="{{ this.link }}" {{/if}} {{/if}} data-pin-text="{{ this.text }}" class="fpls-box-pin fpls-box-pin--{{ this.type }}" style="left: {{ this.coordinates.x }}%; top: {{ this.coordinates.y }}%">
                                <span>{{ this.pinIndex }}</span>
                            </a>
                        {{/if}}
                    {{/each}}
                </div>
            </div>
            {{/if}}
        </div>
    {{#if link}}</a>{{/if}}

    {{#if caption}}
    <div class="fpls-box-caption">
        {{{ caption }}}
    </div>
    {{/if}}
</div>
