<div class="fpls-embed">
    <div class="fpls-embed-background"></div>
    <div class="fpls-embed-wrapper">
        <div class="fpls-embed-content">
            <div class="fpls-embed-iframe-a11y">
                {{{ iframe }}}
            </div>
            <div class="fpls-embed-transcriptions">
                <h4>Video transcriptions</h4>
                <div class="fpls-transcriptions">
                    {{{ iframe }}}
                </div>
            </div>
        </div>
        <button class="fpls-embed-close" aria-label="Close content"></button>
    </div>
</div>
