<div class="fpls-embed">
    <div class="fpls-embed-background"></div>
    <div class="fpls-embed-wrapper">
        <div class="fpls-embed-content">
            <div class="fpls-embed-iframe">
                {{{ iframe }}}
            </div>
        </div>
        <button class="fpls-embed-play-a11y" aria-label="Play/Stop the accessible video"></button>
        <button class="fpls-embed-close" aria-label="Close content"></button>
    </div>
</div>
