.fpls-wall-customgrid-default.fpls-wall-customgrid-demopartnerdemo-example {

    .fpls-wall-row {
        display: flex;
        flex-direction: row;

        .fpls--admin & {
            flex-direction: column;
        }

        .fpls-wall-content-box-image {
            width: 50%;
            height: 300px;
            border: 2px solid grey;

            .fpls-box-image {
                height: 300px;

                img {
                    height: 100%;
                    object-fit: cover;
                }
            }
        }

        .fpls-wall-content-box-text {
            width: 50%;

            .fpls--admin & {
                border: 2px solid yellowgreen;
            }

            .fpls--embed & {
                border: 2px solid orange;
            }
        }

    }

}