@import "../../../common/less/variables.less";
.fpls {
	.fpls-box-inner {
		position: relative;
		width: 100%;
		height: 100%;
		display: block;
	}

	.fpls-box-image {
		width: 100%;
		img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 500%;
		}
		video {
			width: 100%;
			height: auto;
			object-fit: cover;
			transform: none;
		}
	}

	.fpls-square .fpls-box-image {
		width: 100%;
		height: 0;
		padding-top: 100%;
		position: relative;
		span {
			overflow: hidden;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		img {
			position: absolute;
			top: 0;
			left: 50%;
			top: 50%;
			height: auto;
			width: 100%;
			-webkit-transform: translate(-50%, -50%);
			-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);
		}

		video {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	.fpls-landscape.fpls-square .fpls-box-image img {
		width: auto;
		height: 100%;
	}

	.fpls-box-iframe {
		position: relative;
		cursor: pointer;
		img {
			display: block;
			width: 100%;
			height: auto;
			max-width: 500%;
			position: relative;
			z-index: 5;
		}
		.fpls-box-iframe-html {
			background: #000;
			right: 0;
			bottom: 0;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 10;

			> iframe,
			> video {
				right: 0;
				bottom: 0;
				position: absolute;
				top: 0;
				left: 0;
				width: 100% !important;
				height: 100% !important;
			}
		}
		.fpls-box-play,
		.fpls-box-muted {
			z-index: 6;
		}
	}

	.fpls-box-iframe-inline-sizer {
		display: block;
	}

	.fpls-box-play {
		display: block;
		width: 100px;
		height: 100px;
		position: absolute;
		top: 50%;
		left: 50%;
		margin-left: -50px;
		margin-top: -50px;
		cursor: pointer;
		background: transparent;
		&:hover:after {
			opacity: 1;
		}

		&.fpls-box-play--playing {
			opacity: 0.0001;
		}

		&:focus:after {
				opacity: 1 !important;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../images/play.svg) no-repeat 50% 50%;
			background-size: 48px 48px;
			opacity: .33;
			transition: opacity 200ms;
		}
		transition: opacity 200ms;
	}

	.fpls-box-unmuted {
		display: block;
		opacity: 0;
		width: 38px;
		height: 38px;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		cursor: pointer;
		background: transparent;
		transition: opacity 200ms;
		&:hover:after {
			opacity: 1;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../images/muted.svg) no-repeat 50% 50%;
			background-size: 28px 28px;
			background-color: #fff;
			opacity: .33;
			border-radius: 100%;
			transition: opacity 200ms;
		}

		&.hide-icon {
			&:after {
				background: url(../images/unmuted.svg) no-repeat 50% 50%;
				background-size: 28px 28px;
				background-color: #fff;
			}
		}
	}

	.fpls-box-video {
		&:hover {
			.fpls-box-unmuted {
				opacity: 1;
			}
		}
	}

	.fpls-box-play-a11y {
		display: block;
		z-index: 6;
		width: 50px;
		height: 50px;
		position: absolute;
		right: 0;
		bottom: 0;
		cursor: pointer;
		background: transparent;
		&:hover:after {
			opacity: 1;
		}

		&:after {
			content: "";
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: url(../images/play_a11y.svg) no-repeat 50% 50%;
			background-size: 48px 48px;
			opacity: .33;
			transition: opacity 200ms;
		}
		transition: opacity 200ms;
		transform: translateZ(0);
	}

	.fpls-playing-video-buttons {
		button {
			z-index: 16;
			background-color: rgba(0, 0, 0, 0.75);
			color: #fff;
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			&:after {
				opacity: 1;
			}
		}

		.fpls-box-play-a11y {
			bottom: auto;
			top: 0;
			left: 0;
			border-right: 1px solid rgba(255, 255, 255, 0.5);
			&:after {
			background-image: url(../images/play_a11y_nocircle.svg);
			background-size: 40px 40px;
			}
		}
	}

	.fpls-box-close {
		display: block;
		width: 50px;
		height: 50px;
		height: 50px;
		line-height: 50px;
		text-align: center;
		font-size: 25px;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 15;
		cursor: pointer;
		transform: translateZ(0);
		background:url(../images/popup-close-inv.svg) no-repeat 50% 50%;
		background-size: 40px 40px;
		border-left: 1px solid rgba(255, 255, 255, 0.5);
	}

	.fpls-box-quote {
		display: block;
		//padding:0.25vw 15px;
		padding: 0;
		font-size: @font_size_l;
		line-height: 1.2;

		blockquote {
			margin-bottom: 10px;
		}

		cite {
			font-size: @font_size_s;
			font-style: italic;
		}
	}

	.fpls-box-block {
		//padding:0.25vw 15px;
		padding: 0;

		[data-ls_countdown], .ls-countdown {
			opacity: 0;
			transition: opacity 500ms;

			.fpls-countdown-initialized & {
					opacity: 1;
			}
		}
	}

	.fpls-box-overlay,
	a.fpls-box-overlay {
		position: absolute;
		cursor: pointer;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		&:hover .fpls-box-overlay-content {
			opacity: 1;
		}
	}

	/*
    .fpls-box:focus .fpls-box-overlay,
    .fpls-box a:focus .fpls-box-overlay {
        opacity: 1;
    }*/

	.fpls-box-overlay-content {
		display: table;
		width: 100%;
		height: 100%;
		-webkit-backface-visibility: hidden;
		background: rgba(246, 246, 246, 0.8);
		transition: opacity 200ms;
		-ms-transition: opacity 200ms;
		-moz-transition: opacity 200ms;
		-webkit-transition: opacity 200ms;
		opacity: 0;
	}

	.fpls-box-overlay-content-inner {
		display: table-cell;
		vertical-align: middle;
		position: relative;
		text-align: center;
		line-height: 1.5em;
	}

	.fpls-box-overlay-desc {
		display: block;
		margin-bottom: 1em;
	}

	.fpls-box-overlay-button {
		display: inline-block;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		font-size: 11px;
		font-weight: 700;
	}

	.fpls-link-internal {
		cursor: pointer;
	}

	.fpls-box-caption {
		margin-top: 5px;
		font-size: @font_size_s;
	}

	.fpls-box-text {
		display: block;
		width: 100%;
	}

	.fpls-box-text ul,
	.fpls-box-text ol {
		padding-left: 2em;
	}

	.fpls-box-text ul {
		list-style-type: disc;
	}

	.fpls-box-text ol {
		list-style-type: decimal;
	}


	.fpls-box-flex {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		width: 100%;
		height: 100%;

		.fpls-box-flex-top {
			flex-grow: 1;
			width: 100%;
			position: relative;
			overflow: hidden;
		}

		.fpls-box-flex-bottom {
			flex-shrink: 0;
			flex-grow: 0;
			width: 100%;
			a:not(.ls-button) {
				text-decoration: inherit;
				color: inherit;
			}
		}
	}

	.fpls-element{
		&.fpls-element-loading {
			&:after {
				opacity: 0;
			}
		}
	}

	.fpls-box-pins__wrapper {
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.fpls-box-pins {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	.fpls-box-pins .fpls-box-pin {
		position: absolute;
		transform: translateX(-50%) translateY(-50%);
		margin: 0;
		&.fpls-box-pin--asset,
		&.fpls-box-pin--link {
			cursor: pointer;
		}
	}

	.fpls-box-pin {
			margin-bottom: -15px;
			margin-left: 5px;
			position: relative;
			z-index: 5;
			display: block;
			width: 30px;
			height: 30px;
			background: white;
			border-radius: 30px;
			line-height: 30px;
			text-align: center;
			border: 1px solid black;
			cursor: default;
			transition: all 300ms;

			span, div {
				//avoid click to elements inside pin
				pointer-events: none;
			}

			&.fpls-current {
					background: black;
					color: white;
			}
	}

	.fpls-box-icon {
		.fpls-box-inner {
			.fpls-box-svg {
				width: 100%;
				height: 100%;
			}
		}
	}
}

/* internal link */
.fpls-internal-link {
	cursor: pointer;
}


/*SCROLLER */
.fpls-textscroll .fpls-box-text {
	overflow: hidden;
}
.fpls-textscroll-text,
.fpls-textscroll-scroller {
	display: inline-block;
	white-space: nowrap;
}

.fpls-textscroll-text {
	padding-right: .5em;
}

.fpls-textscroll-scroller {
	left: 0;
	position: relative;
}

.fpls-box-asset-labels {
	display: none;
}