@import "../../../common/less/variables.less";

.fpls-embed-visible {
    overflow: hidden !important;
}

.fpls-embed {
    position:fixed !important;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:999999;

    .fpls-embed-background {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#000;
        opacity:0.9;
        z-index:1000;
    }

    .fpls-embed-wrapper {
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:1010;
        overflow-x:hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
        transition: transform 600ms;
    }

    .fpls-embed-content {
        position:absolute;
        top: 50%;
        left: 50%;
        transform:translateX(-50%) translateY(-50%);
        padding:0;
        background:#000;
        z-index:1020;
        box-shadow:0 10px 120px rgba(0,0,0,0.15);
        // width: 100%;
        max-width: 1440px;
        // @media screen and (min-width: 768px) {
        //     width: 90vw;
        // }
        &:after {
            content:" ";
            display:table;
            clear:both;
        }
    }

    .fpls-embed-iframe {
        position: relative;
        padding-top: 56.25%;
        width: 90vw;
        max-width: 100%;
        
        iframe,
        video {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // height: 100%;
            // width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            bottom: 0;
            right: 0;
        }

        // &.tiktok {
        //     width: 45vh;
        //     padding-top: 80vh;
        //     margin-left: auto;
        //     margin-right: auto;
        // }
    }

    .fpls-embed-iframe-a11y {
        position: relative;
        padding-top: 56.25%;
        width: 90vw;

        @media screen and (max-width: 768px) {
            width: 100vw;
        }
        
        iframe,
        video {
            // position: absolute;
            // top: 50%;
            // left: 50%;
            // transform: translate(-50%, -50%);
            // height: 100%;
            // width: 100%;
            top: 0;
            left: 0;
            width: 100% !important;
            height: 100% !important;
            bottom: 0;
            right: 0;
        }
    }

    &.has-transcription {
        .fpls-embed-iframe-a11y {
            padding-top: 40%;
        }
        .fpls-embed-transcriptions {
            display: block;
        }
    }

    .fpls-embed-transcriptions {
        display: none;
        background: white;
        color: black;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 30vh;
        padding: 15px;
    }

    .fpls-embed-close {
        display:block;
        position:absolute;
        top:0;
        right:0;
        width:40px;
        height:40px;
        background:url(../images/popup-close-inv.svg) no-repeat 50% 50%;
        cursor:pointer;
        z-index: 1050;
    }

    .fpls-embed-play-a11y {
        display:block;
        position:absolute;
        top:0;
        right:40px;
        width:40px;
        height:40px;
        background:url(../images/play_a11y_nocircle.svg) no-repeat 50% 50%;
        background-size: 50px 50px;
        cursor:pointer;
        z-index: 1040;
    }
}
