#WALLID {
    font-family:~"#FONT_BASE" !important;

    .fpls-button {
        font-family:~"#FONT_BASE" !important;
    }

    h1, h2, h3, h4, blockquote {
        font-family:~"#FONT_HEADING" !important;
    }

    .fpls-wall-title {
        font-family:~"#FONT_HEADING" !important;
    }

    .fpls-box-overlay-desc strong {
        font-family:~"#FONT_HEADING" !important;
    }

    .fpls-popup-author {
        font-family:~"#FONT_HEADING" !important;
    }

    .fpls-popup-title {
        font-family:~"#FONT_HEADING" !important;
    }

    .fpls-popup-asset-title {
        font-family:~"#FONT_HEADING" !important;
    }
}
