@import "../../../common/less/variables.less";

.fpls-popup-visible {
    overflow: hidden !important;
}

.fpls-popup {
    position:fixed !important;
    top:0;
    left:0;
    bottom:0;
    right:0;
    z-index:99999;

    .fpls-popup-image-nav {
        display: none;
    }

    .fpls-popup-background {
        position:fixed;
        top:0;
        left:0;
        width:100%;
        height:100%;
        background:#fff;
        opacity:0.9;
        z-index:1000;
    }

    .fpls-popup-background:before {
        content: "";
        display: table;
        width:50px;
        height:50px;
        position:absolute;
        top:50%;
        left:50%;
        margin-left:-25px;
        margin-top:-25px;
        border-radius:25px;
        background:#fff url(../images/loader.gif) no-repeat 50% 50%;
        box-shadow:0 3px 12px rgba(0,0,0,0.33);
        z-index:1005;
        opacity: 0;
        transition: opacity 300ms;
    }

    &.fpls-popup-loading .fpls-popup-background:before {
        transition: opacity 300ms;
        opacity: 1;
    }

    .fpls-popup-wrapper {
        position:fixed;
        top:0;
        left:0;
        bottom:0;
        right:0;
        z-index:1010;
        overflow-x:hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        transition: transform 600ms;

        &.fpls-dragging {
            transition: transform 0ms;
        }
    }

    .fpls-popup-content {
        position:relative;
        margin:30px auto;
        max-width:920px;
        padding:30px;
        background:#fff;
        z-index:1020;
        box-shadow:0 10px 120px rgba(0,0,0,0.15);
        &:after {
            content:" ";
            display:table;
            clear:both;
        }
        /*
        &.fpls-no-assets {
            max-width:600px;
        }
        */
    }

    .fpls-popup-prev,
    .fpls-popup-next {
        display:block;
        position:absolute;
        top:300px;
        margin-top:-25px;
        left:-50px;
        height:50px;
        width:50px;
        &,&:hover {
            background-color: transparent;
        }
        background:url(../images/popup-left.svg) no-repeat 50% 50%;
        cursor:pointer;
        font-size:12px;
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -ms-user-select: none; /* IE10+ */
        cursor:pointer;
    }

    .fpls-popup-next {
        display:block;
        left:auto;
        right:-50px;
        background:url(../images/popup-right.svg) no-repeat 50% 50%;
    }

    .fpls-popup-close {
        display:block;
        position:absolute;
        top:0;
        right:0;
        width:50px;
        height:50px;
        background:url(../images/popup-close.svg) no-repeat 50% 50%;
        cursor:pointer;
        z-index: 100;
    }

    .fpls-popup-author {
        margin-bottom:2em;
        font-weight:bold;
        text-align:center;
        font-size:@font_size_l;
    }

    .fpls-popup-col-1 {
        float:left;
        width:65%;
    }

    .fpls-popup-col-2 {
        float:left;
        width:32%;
        margin-left:3%;
    }
/*
    .fpls-no-assets .fpls-popup-col-1 {
        width:100%;
    }

    .fpls-no-assets .fpls-popup-col-2 {
        display:none;
    }
*/
    .fpls-popup-image {
        margin-bottom:.5em;
        position: relative;
    }

    .fpls-popup-image-img {
        width:100%;
        height:auto;
        display:block;
    }

    .fpls-popup-video-wrapper {
        position: relative;
        display: block;

        .fpls-box-play {
            z-index: 11;
        }
    }

    .fpls-popup-video-poster {
        width:100%;
        height:100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;
    }

    .fpls-popup-video {
        width:100%;
        height:auto;
        display:block;
        position: relative;
        background: transparent;
        z-index: 10;
    }

    .fpls-popup-text {
        padding:60px;
        background:#eee;
        min-height:350px;
        max-height: 350px;
        overflow: auto;

        .fpls-inner {
            position:relative;
            display:inline-block;
            font-size:@font_size_xl;
            line-height: 1.2em;
        }
        .fpls-ldquo {
            position:absolute;
            top:0;
            left:-30px;
            font-size:(@font_size_xxl * 2);
            color:@text_color_lighter;
            font-family:"Georgia",sans-serif;
        }
        .fpls-rdquo {
            position:absolute;
            bottom:-30px;
            right:-30px;
            font-size:(@font_size_xxl * 2);
            color:@text_color_lighter;
            font-family:"Georgia",sans-serif;
        }
    }

    .fpls-popup-desc,
    .fpls-popup-share,
    .fpls-popup-cta {
        margin-bottom:1em;
    }

    .fpls-popup-image-cta {
        margin-bottom:.5em;
        display: block;
        position: relative;
        cursor: pointer;
        img {
            max-width: 100%;
            height: auto;
        }
        .fpls-popup-image-cta-play {
            display:block;
            width:100px;
            height:100px;
            position:absolute;
            top:50%;
            left:50%;
            margin-left:-50px;
            margin-top:-50px;
            background:url(../images/play.svg) no-repeat 50% 50%;
            opacity: .33;
            transition: opacity 200ms;
            &:hover {
                opacity: 1;
            }
        }
    }

    .fpls-popup-pins .fpls-popup-pin {
        position: absolute;
        transform: translateX(-50%) translateY(-50%);
        margin: 0;
        &.fpls-popup-pin--asset {
            cursor: pointer;
        }
    }

    .fpls-popup-pin {
        margin-bottom: -15px;
        margin-left: 5px;
        position: relative;
        z-index: 5;
        display: block;
        width: 30px;
        height: 30px;
        background: white;
        border-radius: 30px;
        line-height: 30px;
        text-align: center;
        border: 1px solid black;
        cursor: default;
        transition: all 300ms;

        &.fpls-current {
            background: black;
            color: white;
        }
    }

    .fpls-current .fpls-popup-pin {
        background: black;
        color: white;
    }

    .fpls-popup-carousel {
        position: relative;
        height: 0;
        padding-top: 100%;
        width: 100%;
        transition: padding 300ms;
        overflow: hidden;
        .fpls-popup-carousel-slider {
            position: absolute;
            top: 0;
            left: 0;
            height: auto;
            transition: left 300ms;
            &:after {
                content: "";
                display: table;
                clear: both;
            }
            .fpls-popup-carousel-item {
                float: left;
            }
        }

        .fpls-popup-carousel-prev,
        .fpls-popup-carousel-next {
            background:transparent;
            border: 0px;
            height: 100%;
            width: 15%;
            top: 0;
            position: absolute;
            cursor: pointer;
            z-index: 15;
            &:after {
                width: 50px;
                height: 50px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -25px;
                margin-top: -25px;
                content: "";
                display: block;
                opacity: 0.5;
                transition: all 300ms;
            }
            &:hover:after {
                opacity: 1;
            }
        }

        .fpls-popup-carousel-prev {
            left: 0;
            &:after {
                background:url(../images/popup-left.svg) no-repeat 50% 50%;
                background-size: 80%;
            }
        }
        .fpls-popup-carousel-next {
            right: 0;
            &:after {
                background:url(../images/popup-right.svg) no-repeat 50% 50%;
                background-size: 80%;
            }
        }
        .fpls-popup-carousel-dots {
            width: 100%;
            height: 50px;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            z-index: 11;
            a {
                display: inline-block;
                width: 27px;
                height: 50px;
                position: relative;
                cursor: pointer;
                &:after {
                    content: "";
                    display: block;
                    width: 4px;
                    height: 4px;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    margin-top: -2px;
                    margin-left: -2px;
                    border-radius: 20px;
                    //border: 2px solid #000;
                    transition: all 300ms;
                    opacity: 0.5;
                    background: #000;
                }
            }
            a:hover, a.fpls-popup-carousel-dot-active {
                &:after {
                    opacity: 0.9;
                    width: 12px;
                    height: 12px;
                    margin-top: -6px;
                    margin-left: -6px;
                }
            }
        }
    }

    .fpls-popup-title {
        font-size:@font_size_m;
        font-weight: bold;
        margin-bottom:1em;
    }

    .fpls-popup-desc {
        line-height:1.75em;
        letter-spacing: 0.025em;
        font-size:@font_size_s;

        strong {
            font-weight:bold;
            display:block;
            margin-bottom:.25em;
        }
    }

    .fpls-popup-meta {
        color:@text_color_light;
        font-size:@font_size_s;
        margin-bottom:2em;
        strong {
            color:@text_color_base;
            font-size:@font_size_s;
            font-weight:bold;
        }
        line-height:@share_size;
        float:left;
        width:50%;
    }

    .fpls-popup-share {
        float:right;
        width:50%;
        text-align:right;

        p {
            display:inline-block;
            vertical-align:top;
            font-size:@font_size_s;
            color:@text_color_light;
            line-height:@share_size;
        }

        a {
            vertical-align:top;
            display:inline-block;
            margin-left:2px;
            overflow:hidden;
            width:@share_size;
            height:@share_size;
            border-radius:@share_size;
            background-repeat:no-repeat;
            background-position:50% 50%;
            background-size: 75%;
            vertical-align: top;

            span {
                display:none;
            }

            &.twitter_share {
                background-image:url(../images/twitter.svg);
            }

            &.pinterest_share {
                background-image:url(../images/pinterest.svg);
            }

            &.facebook_share {
                background-image:url(../images/facebook.svg);
            }

        }
    }

    .fpls-popup-cta {
        margin-top:10px;
        text-align:center;
    }

    .fpls-popup-assets {
        clear:both;
        overflow:hidden;
        padding:20px 30px 0;
        min-height: 300px;
        position: relative;
    }

    .fpls-popup-asset {
        margin-bottom:10px;
        text-align:center;
        > a {
            display: block;
        }
    }

    .fpls-popup-asset-img img {
        display:block;
        width:100%;
        height:auto;
        max-width:200px;
        margin:0 auto;
        position:relative;
    }

    .fpls-popup-asset-title {
        display:block;
        padding-top:20px;
        font-weight:bold;
        font-size:@font_size_m;
    }

    .fpls-popup-asset-price {
        display:block;
        font-size:@font_size_s;
        del {
            padding-right:5px;
            color:@text_color_light;
        }
    }

    .fpls-popup-asset-cta {
        display:block;
        margin:1em 0;
    }

    .fpls-popup-assets-prev,
    .fpls-popup-assets-next {
        display:block;
        position:absolute;
        top:150px;
        margin-top:-20px;
        height:40px;
        width:40px;
        -webkit-user-select: none; /* webkit (safari, chrome) browsers */
        -moz-user-select: none; /* mozilla browsers */
        -ms-user-select: none; /* IE10+ */
        cursor:pointer;
    }

    .fpls-popup-assets-prev {
        left:0;
        background:url(../images/popup-left.svg) no-repeat 50% 50%;
        background-size: 75%;
    }

    .fpls-popup-assets-next {
        right:0;
        background:url(../images/popup-right.svg) no-repeat 50% 50%;
        background-size: 75%;
    }

    .fpls-popup-col-3 .fpls-popup-author {
        text-align: left;
        margin-bottom: .5em;
        margin-top: 1em;
        font-size: 15px;
    }

    .fpls-popup-like {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        z-index: 16;
        svg {
            fill: rgba(255, 255, 255, 0.9);
            stroke: rgba(0, 0, 0, 0.4);
            stroke-width: 1.5px;
        }
        &.liked svg {
            animation-name: fpls-popup-like;
            animation-duration: 3s;
        }
    }
}

@keyframes fpls-popup-like {
    0% { fill: rgba(200, 0, 0, 1); stroke: rgba(170, 0, 0, 1); }
    25% { fill: rgba(200, 0, 0, 1); stroke: rgba(170, 0, 0, 1); }
    100% { fill: rgba(255, 255, 255, 0.9); stroke: rgba(0, 0, 0, 0.4); }
}

@media screen and (max-width: 480px) {
    //fix for safari
    .fpls-popup-wrapper .fpls-popup-content {
        min-height: 110vh;
        .fpls-popup-image {
            min-height: 30vh;
        }
        .fpls-popup-asset-img {
            min-height: 30vh;
        }
    }
}

@media screen and (max-width:767px) {
    .fpls-popup-wrapper {
        .fpls-popup-like {
            right: 63px;
            top: 13px;
        }
        .fpls-popup-content {
            padding:0;
            margin-top:0;
            margin-bottom:0;
        }

        .fpls-popup-assets {
            padding-top: 0;
            min-height: 175px;
        }

        /*.fpls-popup-asset:after {
            content: "";
            display: table;
            clear: both;
        }

        .fpls-popup-asset-img {
            float: left;
            width: 50%;
            margin-right: 5%;
        }*/

        .fpls-popup-col-1,
        .fpls-popup-col-2 {
            float:none;
            width:100%;
            margin-left:0;
            clear:both;
        }

        .fpls-popup-col-2,
        .fpls-popup-col-3 {
            padding-top:15px;
            padding-left: 45px;
            padding-right: 45px;
        }

        .fpls-popup-next {
            top: 200px;
            right:-5px;
        }

        .fpls-popup-prev {
            top: 200px;
            left:-5px;
        }

        .fpls-popup-meta {
            margin-bottom:.25em;
        }

        .fpls-popup-meta,
        .fpls-popup-share {
            float:none;
            width:100%;
            text-align:left;
            margin-top: 1em;
            margin-bottom: 0;
        }
        .fpls-popup-close {
            background:rgba(255,255,255,0.8) url(../images/popup-close.svg) no-repeat 50% 50%;
        }
        .fpls-popup-prev {
            left: 0;
            top: 0;
            margin-top: 0;
            &,&:hover {
                background:rgba(255,255,255,0.8) url(../images/popup-left.svg) no-repeat 50% 50%;
                background-size: 80%;
            }
        }
        .fpls-popup-next {
            left: 50px;
            top: 0;
            right: auto;
            margin-top: 0;
            &,&:hover {
                background:rgba(255,255,255,0.8) url(../images/popup-right.svg) no-repeat 50% 50%;
                background-size: 80%;
            }
        }
    }
}
