//theme namespace
.fpls-wall-grid-default {

    .fpls-wall-content {
        position:relative;

        .fpls-box-video {
            .fpls-box-image video {
                position: relative;
            }
            &.fpls-square .fpls-box-image video {
                position: absolute;
            }
        }
    }

    .fpls-feed-loadmore {
        padding:1em 0;
        text-align:center;
    }
}
