<div class="fpls-wall-content">
    <div class="fpls-wall-title" role="heading"></div>
    
    <!--ADMIN_START
    <h3>Instructions:</h3> 
    <p>Fill each box with a box. This template is just for demo purposes.</p>
    <p>The following block will accept any type of content:</p>
    ADMIN_END-->
    <div class="fpls-wall-content-box fpls-wall-content-box1" data-layout_id="box1">
        <div class="fpls-placeholder" data-placeholder_id="box"></div>
    </div>

    <!--ADMIN_START
    <p>The following block will accept only text blocks:</p>
    ADMIN_END-->
    <div class="fpls-wall-content-box fpls-wall-content-box2" data-layout_id="box2" data-layout_types="block">
        <div class="fpls-placeholder" data-placeholder_id="box"></div>
    </div>

    <!--ADMIN_START
    <p>The following block will accept only embed / iframes:</p>
    ADMIN_END-->
    <div class="fpls-wall-content-box fpls-wall-content-box3" data-layout_id="box3" data-layout_types="embed">
        <div class="fpls-placeholder" data-placeholder_id="box"></div>
    </div>

    <!--ADMIN_START
    <p>The following block will accept only products:</p>
    ADMIN_END-->
    <div class="fpls-wall-content-box fpls-wall-content-box4" data-layout_id="box4" data-layout_types="asset">
        <div class="fpls-placeholder" data-placeholder_id="box"></div>
    </div>

    <!--ADMIN_START
    <p>The following block will accept only photos or videos:</p>
    ADMIN_END-->
    <div class="fpls-wall-content-box fpls-wall-content-box5" data-layout_id="box5" data-layout_types="photo,video">
        <div class="fpls-placeholder" data-placeholder_id="box"></div>
    </div>

    <!--ADMIN_START
    <p>The following block will accept only carousel:</p>
    ADMIN_END-->
    <div class="fpls-wall-content-box fpls-wall-content-box6" data-layout_id="box6" data-layout_types="carousel">
        <div class="fpls-placeholder" data-placeholder_id="box"></div>
    </div>
</div>
