<div class="fpls-wall-content">
    <div class="fpls-wall-title" role="heading"></div>
    <div class="fpls-feed-container"></div>
    <div class="fpls-feed-loadmore">
        <button class="fpls-button" aria-label="Load more users contents">{{ static.load_more }}</button>
    </div>
</div>
