/* Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@font-face {
    font-family: "Campton-Medium";
    src: url("./campton-medium.eot");
    src: url("./campton-medium.eot?#iefix") format("embedded-opentype"), url("./campton-medium.woff2") format("woff2"), url("./campton-medium.woff") format("woff"), url("./campton-medium.ttf") format("truetype");
    font-weight: normal;
    font-display: swap
}

@font-face {
    font-family: "Acta Display W01 Book";
    src: url("./acta.eot");
    src: url("./acta.eot?#iefix") format("embedded-opentype"), url("./acta.woff2") format("woff2"), url("./acta.woff") format("woff"), url("./acta.ttf") format("truetype");
    font-weight: normal;
    font-display: swap
}

/* Futura STD medium */
@font-face {
    font-family: 'futurastd-medium';
    src: url("./fonts/FuturaStd-Medium.eot");
    src: url("./fonts/FuturaStd-Medium.woff2") format("woff2"),
         url("./fonts/FuturaStd-Medium.woff") format("woff"),
         url("./fonts/FuturaStd-Medium.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}