.fpls-wall-freegrid2-demopartnerdemo-example_3 {
    // Added background color to the wall
    background-color: #ededed;

    .fpls-button,
    .ls-button {
        box-shadow: 10px 10px 10px red !important;
    }

    .miaclasse {
        border: 10px solid red !important;
    }
}